/* css for the about page */

.two-column-flexbox {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.element-left {
  flex: 2 1 0;
}

.element-right {
  flex: 3 1 0;
}

.cymbal-picture {
  width: 270px;
  height: 270px;
  margin-left: 70px;
  border-radius: 153px 153px 153px 0px;
  border: 18px solid rgba(255, 185, 112, 1);
}

@media (max-width: 1100px) {
  .two-column-flexbox {
    flex-direction: column;
  }

  .element-left {
    margin: 10px auto;
  }

  .cymbal-picture {
    margin: 0 auto;
  }

  .element-right {
    padding-left: 20px;
  }

  .indented-paragraph {
    padding-right: 40px;
  }
}
