/* styling for the Contact page */

section {
  flex: 1 1 0;
}

.flexbox-row {
  padding-left: 300px;
  padding-right: 300px;
}

a:hover {
  color: rgba(0, 65, 165, 1);
}

.content {
  padding-bottom: 50px;
}

#find-friends {
  margin: 30px auto 40px auto;
  border-top: 1px solid black;
  width: 50%;
  padding-top: 40px;
}

#contact-info {
  margin-top: 60px;
}
