/* css for the CSE page */

.small-flexbox-element.fa {
  flex: 1 1 0;
  font-size: 100px;
  text-align: center;
  margin: auto;
}

.large-flexbox-element-left {
  flex: 4 1 0;
  padding-left: 50px;
}

.large-flexbox-element-right {
  flex: 4 1 0;
  padding-right: 50px;
}

h2 {
  text-align: center;
}

.bottom {
  height: 40px;
}

@media (max-width: 1100px) {
  .flexbox-row {
    flex-direction: column;
  }

  .large-flexbox-element-left {
    padding: 0 20px;
  }

  .large-flexbox-element-right {
    padding-right: 0;
    margin: 20px 20px;
  }

  .small-flexbox-element {
    text-align: center;
  }

  #android {
    flex-direction: column-reverse;
  }
}
